.identifi__container
    .identifi__container__top
        %section.identifi__container__top__section
            %h2 本人確認の登録
        %form{class: "identifi__container__top__section--form"}
            .identifi__container__top__section--form--top
                %p
                お客様の本人情報をご登録下さい
                %br 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
                %p.identifi__container__top__section--form--top--p
                    %a{href: '#'} 本人確認書類のアップロードについて
                    %i.fas.fa-chevron-right
            .identifi__container__top__section--form--group
                %label お名前
                %p 翁長 奨
            .identifi__container__top__section--form--group
                %label お名前カナ
                %p オナガ ショウ
            .identifi__container__top__section--form--group
                %label 誕生日
                %p 1986/06/10
            .identifi__container__top__section--form--groupf
                %label{for: "zip_code"} 郵便番号
                %span.arbitrary 任意
                %input.input--default{type: "text", name: "zip_code", placeholder: "例） 1234567"}
            .identifi__container__top__section--form--groups
                %label{for: "stats"} 都道府県
                %span.arbitrary 任意
                -# 都道府県で長くなるのでテンプレート
                = render partial: "select"
            .identifi__container__top__section--form--groupf
                %label{for: "city"} 市区町村
                %span.arbitrary 任意
                %input.input--default{type: "text", name: "city", placeholder: "例） 東京都立川市"}
            .identifi__container__top__section--form--groupf
                %label{for: "adress"} 番地
                %span.arbitrary 任意
                %input.input--default{type: "text", name: "adress", placeholder: "例） 羽衣町2-7-3"}
            .identifi__container__top__section--form--groupf
                %label{for: "adress2"} 建物名
                %span.arbitrary 任意
                %input.input--default{type: "text", name: "adress2", placeholder: "例） レスポワール立川101"}
            .identifi__container__top__section--form--groupb
                %button.btn--default{type: "submit"} 登録する
            .identifi__container__top__section--form--bottom
                .identifi__container__top__section--form--bottom--p
                    %a{href: '#'} 本人情報の登録について
                    %i.fas.fa-chevron-right
    .profile__container__navi
        %ul.profile__container__navi--list
            -# renderで部分テンプレート 条件分岐未実装
            = render partial: "top_tab", locals: { url:'#', contents: 'マイページ' }
            = render partial: "tab", locals: { url:'#', contents: 'おしらせ'  }
            = render partial: "tab", locals: { url:'#', contents: 'やることリスト'  }
            = render partial: "tab", locals: { url:'#', contents: 'いいね！一覧'  }
            = render partial: "tab", locals: { url:'#', contents: '出品する'  }
            = render partial: "tab", locals: { url:'#', contents: '出品した商品 - 出品中'  }
            = render partial: "tab", locals: { url:'#', contents: '出品した商品 - 取引中'  }
            = render partial: "tab", locals: { url:'#', contents: '出品した商品 - 売却済み'  }
            = render partial: "tab", locals: { url:'#', contents: '購入した商品 - 取引中'  }
            = render partial: "tab", locals: { url:'#', contents: '購入した商品 - 過去の取引'  }
            = render partial: "tab", locals: { url:'#', contents: 'ニュース 一覧'  }
            = render partial: "tab", locals: { url:'#', contents: '評価一覧'  }
            = render partial: "tab", locals: { url:'#', contents: 'ガイド'  }
            = render partial: "tab", locals: { url:'#', contents: 'お問い合わせ'  }
            %h3 メルペイ
            -# .toplistで上部border-lineを消去
            = render partial: "top_tab", locals: { url:'#', contents: '売上・振込申請' }
            = render partial: "tab", locals: { url:'#', contents: 'ポイント' }
            %h3 設定
            = render partial: "top_tab", locals: { url:'#', contents: 'プロフィール' }
            = render partial: "tab", locals: { url:'#', contents: '発送元・お届け先住所変更' }
            = render partial: "tab", locals: { url:'#', contents: '支払い方法' }
            = render partial: "tab", locals: { url:'#', contents: 'メール / パスワード'  }
            = render partial: "active_tab", locals: { url:'#', contents: '本人情報' }
            = render partial: "tab", locals: { url:'#', contents: '電話番号の確認' }
            = render partial: "tab", locals: { url:'#', contents: 'ログアウト' }

