%header.regi__header
  %h1.regi__header--h1
    = link_to "#", class:"regi__header--a"  do
      %img{src: "/images/logo.svg", class: "login__header--h1--a--img"}

.regi__container
  .regi__container__panel
    %h2.regi__container__panel--head 会員情報入力
    = form_for @user ,url:{action: 'create'} , class: "regi__container__panel--head--form" do |f|
      .regi__container__panel--head--form__content
        .regi__container__panel--head--form__content--group.top-group
          = f.label "ニックネーム",class: "input--label"
          %span.require 必須
          = f.text_field :nickname, placeholder: "例)メルカリ次郎", class: "input--default"
        .regi__container__panel--head--form__content--group
          = f.label "メールアドレス",class: "input--label"
          %span.require 必須
          = f.email_field :email, placeholder: "PC・携帯どちらでも可", class: "input--default"
        .regi__container__panel--head--form__content--group
          = f.label "パスワード",class: "input--label"
          %span.require 必須
          = f.password_field :password, placeholder: "6文字以上", class: "input--default"
        .regi__container__panel--head--form__content--group
          = f.label "パスワード(確認)",class: "input--label"
          %span.require 必須
          = f.password_field :password_confirmation, placeholder: "6文字以上", class: "input--default"
        .regi__container__panel--head--form__content--group
          %h3 本人確認
          %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          = f.fields_for :user_info, @user.build_user_info do |s|
            .regi__container__panel--head--form__content--group
              = s.label "姓(全角)",class: "input--label"
              %span.require 必須
              = s.text_field :first_name, placeholder: "翁長", class: "input--default"
            .regi__container__panel--head--form__content--group
              = s.label "名(全角)",class: "input--label"
              %span.require 必須
              = s.text_field :last_name, placeholder: "奨", class: "input--default"
            .regi__container__panel--head--form__content--group
              = s.label "姓カナ(全角)",class: "input--label"
              %span.require 必須
              = s.text_field :kana_first_name, placeholder: "オナガ", class: "input--default"
            .regi__container__panel--head--form__content--group
              = s.label "名カナ(全角)",class: "input--label"
              %span.require 必須
              = s.text_field :kana_last_name, placeholder: "ショウ", class: "input--default"
            .regi__container__panel--head--form__content--group
              = s.label "生年月日",class: "input--label"
              %span.require 必須
            .regi__container__panel--head--form__content--groups--wrap
              = s.select "birth_year",{},{},class: "select-default" do
                %option{value: "--"} --
                %option{value: "1986"} 1986
                %option{value: "1987"} 1987
                %option{value: "1988"} 1988
                %option{value: "1989"} 1989
                %option{value: "1990"} 1990
                %option{value: "1991"} 1991
                %option{value: "1992"} 1992
                %option{value: "1993"} 1993
                %option{value: "1994"} 1994
                %option{value: "1995"} 1995
                %option{value: "1996"} 1996
                %option{value: "1997"} 1997
              %i.fas.fa-chevron-down
              %span.select-month 年
            .regi__container__panel--head--form__content--groups--wrap
              = s.select "birth_month",{},{},class: "select-default" do
                %option{value: "--"} --
                %option{value: "01"} 01
                %option{value: "02"} 02
                %option{value: "03"} 03
                %option{value: "04"} 04
                %option{value: "05"} 05
                %option{value: "06"} 06
                %option{value: "07"} 07
                %option{value: "08"} 08
                %option{value: "09"} 09
                %option{value: "10"} 10
                %option{value: "11"} 11
                %option{value: "12"} 12
              %i.fas.fa-chevron-down
              %span.select-month 月
            .regi__container__panel--head--form__content--groups--wrap
              = s.select "birth_day",{},{},class: "select-default" do
                %option{value: "--"} --
                %option{value: "01"} 01
                %option{value: "02"} 02
                %option{value: "03"} 03
                %option{value: "04"} 04
                %option{value: "05"} 05
                %option{value: "06"} 06
                %option{value: "07"} 07
                %option{value: "08"} 08
                %option{value: "09"} 09
                %option{value: "10"} 10
                %option{value: "11"} 11
                %option{value: "12"} 12
              %i.fas.fa-chevron-down
              %span.select-month 日
            .regi__container__panel--head--form__content--groups--text2
              %p ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .regi__container__panel--head--form__bottom
          .regi__container__panel--head--form__bottom--check
            .g-recaptcha{'data-callback': "clearcall", 'data-sitekey': "6LcyHZ8UAAAAAKzqYXfBLyWitD8NCgRybJuofGcz"}
          .regi__container__panel--head--form__bottom--text
            %p 「次に進む」のボタンを押すことにより、利用規約に同意したものとみなします
          .regi__container__panel--head--form__bottom--btn
            = f.submit "次へ進む（登録)", type: "submit", class: "btn--default"

%footer.regi__footer
  %nav.regi__footer__nav
    %ul.regi__footer__nav--ul
      %li.regi__footer__nav--ul--li プライバシーポリシー
      %li.regi__footer__nav--ul--li メルカリ利用規約
      %li.regi__footer__nav--ul--li 特定商取引に関する表記
  = link_to "#", class:"regi__footer--a"  do
    %img{ src: "/images/logo-gray.svg", class: "regi__footer--a--img"}
  %p.signup__footer--p
    %small © 2019 Mecrari

