%header.header--sp
  .header--sp__inner
    %h1.header--sp__logo
      = link_to "/" do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3403318254", alt: "mercari"
    .header--sp__user-nav
      = link_to "#", class: 'header--sp__user-icon' do
        %figure
          %i.fa-bell
      = link_to "#", class: 'header--sp__user-icon' do
        %figure
          %i.fa-check
      = link_to "#", class: 'header--sp__user-icon header--sp__user-profile' do
        %figure
          %div
            = image_tag "//static.mercdn.net/thumb/members/164317197.jpg?1419725926", width: "32", alt: ""
  .header--sp__search-bar
    = search_form_for @q, url:searches_path,class:'header--sp__form' do |s|
      = s.text_field :name_cont, placeholder: '何をお探しですか？',type: "search",class: "input--default"
      %i.fa-search
  %nav.header--sp__nav
    = link_to categories_path, data: {category: "NAVIGATION", label: "sp_header_nav_カテゴリから探す"} do
      %i.fa-list-ul.header--sp__cat-brand-icon
      %span カテゴリから探す
    = link_to "#", data: {category: "NAVIGATION", label: "sp_header_nav_ブランドから探す"} do
      %i.fa-tag.header--sp__cat-brand-icon
      %span ブランドから探す
%header.header--pc
  .header--pc__inner
    %h1
      = link_to "#" do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3403318254", height: "36",width: "134", alt: "mercari"
    = search_form_for @q, url:searches_path,class:'header--pc__form' do |s|
      = s.text_field :name_or_description_cont, placeholder: '何をお探しですか？',type: "search",class: "header--pc__search",id: "header--pc__search"
      = button_tag type: 'submit', class: 'header--pc__form--btn' do
        %i.fa-search
    .header--pc__nav--box
      %nav.header--pc__nav--box__nav
        %ul.header--pc__nav
          %li
            %h2
              = link_to categories_path, class: 'header--pc__nav--root list-parent' do
                %i.fa.fa-list-ul.header--pc__cat-brand-icon
                %span カテゴリーから探す
            %ul.header--pc__nav--parent-wrap{"data-mega": "1"}
              - @main_categories.each do |main_category|
                %li.header--pc__nav--parent
                  %h3
                    = link_to "#{main_category.name}", category_path(main_category.id)
                  %ul.header--pc__nav--child-wrap{"data-mega": "2"}
                    - main_category.children.each_with_index do |sub_category,i|
                      %li.header--pc__nav--child
                        = link_to "#{sub_category.name}", category_path(sub_category.id)
                        %ul.header--pc__nav--grand-child-wrap{"data-mega": "3"}
                          - main_category.children[i].grand_children.limit(19).each do |sub_subcategory|
                            - if sub_subcategory.id != sub_category.id
                              %li.header--pc__nav--grand-child
                                = link_to "#{sub_subcategory.name}", category_path(sub_subcategory.id)
          %li
            %h2
              = link_to "https://www.mercari.com/jp/brand/", class: 'header--pc__nav--root list-parent' do
                %i.fa.fa-tag.header--pc__cat-brand-icon
                %span ブランドから探す
              %ul.header--pc__nav--parent-wrap
                %li.header--pc__nav--parent
                  %h3
                    = link_to "シャネル","https://www.mercari.com/jp/brand/658/"
                %li.header--pc__nav--parent
                  %h3
                    = link_to "ブランド一覧","https://www.mercari.com/jp/brand/"
      .header--pc__user-wrapper
        %ul.header--pc__user-nav
          %li{"data-id": "header--pc__user-nav", "data-key": "notification_list", "data-url": "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
            = link_to "https://www.mercari.com/jp/mypage/notification/", data: {url: "https://www.mercari.com/jp/mypage/notification_and_todo_json/"} ,class: "header--pc__nav--root" do
              %i.fa-bell
              %span お知らせ
            %ul.header--pc__user-box.header--pc__notification-box.mypage__item-list{"data-id": "header--pc__user-items"}
          %li{"data-id": "header--pc__user-nav", "data-key": "todo_list", "data-url": "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
            = link_to "https://www.mercari.com/jp/mypage/todo/", data: {url: "https://www.mercari.com/jp/mypage/notification_and_todo_json/"} ,class: "header--pc__nav--root" do
              %i.fa-check
              %span やることリスト
            %ul.header--pc__user-box.header--pc__todo-box.mypage__item-list{"data-id": "header--pc__user-items"}
          %li
            = link_to "https://www.mercari.com/jp/mypage/", class: 'header--pc__user-icon header--pc__nav--root' do
              %figure
                %div
                  = image_tag "/images/member_no_image.png", width: "32", alt: ""
              %div マイページ
            .header--pc__user-box.header--pc__mypage--box
              .header--pc__mypage--state
                %figure
                  %div
                    = image_tag "/images/member_no_image.png", width: "60", alt: ""
                  %figcaption unKnown User
                %ul.header--pc__mypage__review-listing
                  %li
                    = link_to "評価: 0","https://www.mercari.com/jp/mypage/review/history/"
                  %li
                    = link_to "出品数: 0","https://www.mercari.com/jp/mypage/listings/listing/"
                %ul.header--pc__mypage__sales-point
                  %li
                    = link_to "https://www.mercari.com/jp/mypage/sales/" do
                      .l-left
                        売上金
                      .l-right
                        ¥ 0
                        %i.fa-angle-right
                  %li
                    = link_to "https://www.mercari.com/jp/mypage/point/" do
                      .l-left ポイント
                      .l-right
                        P 0
                        %i.fa-angle-right
              %ul.mypage__nav--list
                %li
                  = link_to "https://www.mercari.com/jp/mypage/like/history/", class: 'mypage__nav--list-item' do
                    いいね！一覧
                    %i.fa-angle-right
                %li
                  = link_to "https://www.mercari.com/jp/mypage/listings/listing/", class: 'mypage__nav--list-item' do
                    出品した商品 - 出品中
                    %i.fa-angle-right
                %li
                  = link_to "https://www.mercari.com/jp/mypage/listings/in_progress/", class: 'mypage__nav--list-item' do
                    出品した商品 - 取引中
                    %i.fa-angle-right
                %li
                  = link_to "https://www.mercari.com/jp/mypage/listings/completed/", class: 'mypage__nav--list-item' do
                    出品した商品 - 売却済み
                    %i.fa-angle-right
                %li
                  = link_to "https://www.mercari.com/jp/mypage/purchase/", class: 'mypage__nav--list-item' do
                    購入した商品 - 取引中
                    %i.fa-angle-right
                %li
                  = link_to "https://www.mercari.com/jp/mypage/purchased/", class: 'mypage__nav--list-item' do
                    購入した商品 - 過去の取引
                    %i.fa-angle-right
