.main-container
  %section.top-banner__container
    = link_to "", "#", class: 'top-banner__banner-natsukashi'
  %section.pickup__container
    %h2.pickup__head ピックアップカテゴリー
    %section.items-box__container
      %h3
        = link_to "/jp/category/1/" do
          %a.a--blue レディース 新着アイテム
      .items-box__content
        %section.items-box
          = link_to "https://item.mercari.com/jp/m67684181775/" do
            %figure.items-box__photo
              = image_tag "https://static.mercdn.net/thumb/photos/m67684181775_1.jpg?1554605302", alt: "sale〜4/12 エフデ 大きいサイズ 15号 スカート"
            .items-box__body
              %h3.items-box__name sale〜4/12 エフデ 大きいサイズ 15号 スカート
              .items-box__num
                .items-box__price ¥ 7,200
                .items-box__likes
                  %i.fa-heart
                  %span 2
                %p.item-box__tax (税込)
        %section.items-box
          = link_to "https://item.mercari.com/jp/m55484898626/" do
            %figure.items-box__photo
              = image_tag "https://static.mercdn.net/thumb/photos/m55484898626_1.jpg?1550203297", alt: "カーディガン（ジェラートピケ）"
            .items-box__body
              %h3.items-box__name カーディガン（ジェラートピケ）
              .items-box__num
                .items-box__price ¥ 1,700
                .items-box__likes
                  %i.fa-heart
                  %span 1
                %p.item-box__tax (税込)
        %section.items-box
          = link_to "https://item.mercari.com/jp/m41498429342/" do
            %figure.items-box__photo
              = image_tag "https://static.mercdn.net/thumb/photos/m41498429342_1.jpg?1554707158", alt: "MISCH MASCH ホワイト　ワンピース　刺繍　フリル　フラワー デート服"
            .items-box__body
              %h3.items-box__name MISCH MASCH ホワイト　ワンピース　刺繍　フリル　フラワー デート服
              .items-box__num
                .items-box__price ¥ 6,700
                %p.item-box__tax (税込)
        %section.items-box
          = link_to "https://item.mercari.com/jp/m23376020836/" do
            %figure.items-box__photo
              = image_tag "https://static.mercdn.net/thumb/photos/m23376020836_1.jpg?1553425198", alt: "ペンダントトップ　アクアマリン　ネックレストップ　チャーム"
            .items-box__body
              %h3.items-box__name ペンダントトップ　アクアマリン　ネックレストップ　チャーム
              .items-box__num
                .items-box__price ¥ 8,700
                .items-box__likes
                  %i.fa-heart
                  %span 3
                %p.item-box__tax (税込)
      .items-box__view-all
        = link_to "/jp/category/1/" do
          %p.a--view-all すべての商品を見る
    %section.items-box__container
      %h3
        = link_to "/jp/category/1/" do
          %a.a--blue レディース 新着アイテム
      .items-box__content
        %section.items-box
          = link_to "https://item.mercari.com/jp/m67684181775/" do
            %figure.items-box__photo
              = image_tag "https://static.mercdn.net/thumb/photos/m67684181775_1.jpg?1554605302", alt: "sale〜4/12 エフデ 大きいサイズ 15号 スカート"
            .items-box__body
              %h3.items-box__name sale〜4/12 エフデ 大きいサイズ 15号 スカート
              .items-box__num
                .items-box__price ¥ 7,200
                .items-box__likes
                  %i.fa-heart
                  %span 2
                %p.item-box__tax (税込)
        %section.items-box
          = link_to "https://item.mercari.com/jp/m55484898626/" do
            %figure.items-box__photo
              = image_tag "https://static.mercdn.net/thumb/photos/m55484898626_1.jpg?1550203297", alt: "カーディガン（ジェラートピケ）"
            .items-box__body
              %h3.items-box__name カーディガン（ジェラートピケ）
              .items-box__num
                .items-box__price ¥ 1,700
                .items-box__likes
                  %i.fa-heart
                  %span 1
                %p.item-box__tax (税込)
        %section.items-box
          = link_to "https://item.mercari.com/jp/m41498429342/" do
            %figure.items-box__photo
              = image_tag "https://static.mercdn.net/thumb/photos/m41498429342_1.jpg?1554707158", alt: "MISCH MASCH ホワイト　ワンピース　刺繍　フリル　フラワー デート服"
            .items-box__body
              %h3.items-box__name MISCH MASCH ホワイト　ワンピース　刺繍　フリル　フラワー デート服
              .items-box__num
                .items-box__price ¥ 6,700
                %p.item-box__tax (税込)
        %section.items-box
          = link_to "https://item.mercari.com/jp/m23376020836/" do
            %figure.items-box__photo
              = image_tag "https://static.mercdn.net/thumb/photos/m23376020836_1.jpg?1553425198", alt: "ペンダントトップ　アクアマリン　ネックレストップ　チャーム"
            .items-box__body
              %h3.items-box__name ペンダントトップ　アクアマリン　ネックレストップ　チャーム
              .items-box__num
                .items-box__price ¥ 8,700
                .items-box__likes
                  %i.fa-heart
                  %span 3
                %p.item-box__tax (税込)
      .items-box__view-all
        = link_to "/jp/category/1/" do
          %p.a--view-all すべての商品を見る
    %section.items-box__container
      %h3
        = link_to "/jp/category/1/" do
          %a.a--blue レディース 新着アイテム
      .items-box__content
        %section.items-box
          = link_to "https://item.mercari.com/jp/m67684181775/" do
            %figure.items-box__photo
              = image_tag "https://static.mercdn.net/thumb/photos/m67684181775_1.jpg?1554605302", alt: "sale〜4/12 エフデ 大きいサイズ 15号 スカート"
            .items-box__body
              %h3.items-box__name sale〜4/12 エフデ 大きいサイズ 15号 スカート
              .items-box__num
                .items-box__price ¥ 7,200
                .items-box__likes
                  %i.fa-heart
                  %span 2
                %p.item-box__tax (税込)
        %section.items-box
          = link_to "https://item.mercari.com/jp/m55484898626/" do
            %figure.items-box__photo
              = image_tag "https://static.mercdn.net/thumb/photos/m55484898626_1.jpg?1550203297", alt: "カーディガン（ジェラートピケ）"
            .items-box__body
              %h3.items-box__name カーディガン（ジェラートピケ）
              .items-box__num
                .items-box__price ¥ 1,700
                .items-box__likes
                  %i.fa-heart
                  %span 1
                %p.item-box__tax (税込)
        %section.items-box
          = link_to "https://item.mercari.com/jp/m41498429342/" do
            %figure.items-box__photo
              = image_tag "https://static.mercdn.net/thumb/photos/m41498429342_1.jpg?1554707158", alt: "MISCH MASCH ホワイト　ワンピース　刺繍　フリル　フラワー デート服"
            .items-box__body
              %h3.items-box__name MISCH MASCH ホワイト　ワンピース　刺繍　フリル　フラワー デート服
              .items-box__num
                .items-box__price ¥ 6,700
                %p.item-box__tax (税込)
        %section.items-box
          = link_to "https://item.mercari.com/jp/m23376020836/" do
            %figure.items-box__photo
              = image_tag "https://static.mercdn.net/thumb/photos/m23376020836_1.jpg?1553425198", alt: "ペンダントトップ　アクアマリン　ネックレストップ　チャーム"
            .items-box__body
              %h3.items-box__name ペンダントトップ　アクアマリン　ネックレストップ　チャーム
              .items-box__num
                .items-box__price ¥ 8,700
                .items-box__likes
                  %i.fa-heart
                  %span 3
                %p.item-box__tax (税込)
      .items-box__view-all
        = link_to "/jp/category/1/" do
          %p.a--view-all すべての商品を見る
