.search__container
  .search__container__item
    %h2.search__container__item--h2
      %p.search__container__item--h2--p
        - unless @products.nil?
          検索結果 #{(@products.offset_value)+1}-#{@products.offset_value+@products.length}件
        - else
          検索結果 0 件
    .search__container__item__r-box
      = render @products
    .search__container__item__pagenator
      = paginate @products unless @products.nil?
  .search__container__side
    = search_form_for @q, url:searches_path do |f|
      .search__container__side__form__switch
        .search__container__side__form__switch--wrap
          %select.select-default
            %option 並び替え
            %option{value: "price_asa"} 価格の安い順
            %option{value: "price_desc"} 価格の高い順
            %option{value: "created_asc"} 出品の古い順
            %option{value: "created_desc"} 出品の新しい順
            %option{value: "like__desc"} いいね！の多い順
          %i.fas.fa-chevron-down
      .search__container__side__form__dropdown
        %h3.search__container__side__form__dropdown--h3
          詳細検索
        .search__container__side__form__dropdown__wrap
          = f.label "", class: "label--default" do
            %i.fas.fa-plus
            %span キーワードを追加する
          = f.text_field :name_cont, placeholder: '例)値下げ交渉お断り' , class: "input--default"
        .search__container__side__form__dropdown__wraps
          = f.label "" do
            %i.fa.fa-list-ul
            %span カテゴリーを選択する
          .search__container__side__form__dropdown__wraps--select
            = f.select :category_main_category_id_eq,{},{},class: "select--default area1" do
              %option{value: "",selected: "true"}すべて
              - @categories.each do |ele|
                - next if ele.sub_subcategory_id.present?
                - next if ele.sub_category_id.present?
                %option{value: "#{ele.id}"}#{ele.name}
            %i.fas.fa-chevron-down
          .search__container__side__form__dropdown__wraps--select.area2div
            = f.select :category_sub_category_id_eq,{},{},class: "select--default area2" do
              %option{value: "",selected: "true"}すべて
              - @categories.each do |ele|
                - next if ele.sub_subcategory_id.present?
                - next if ele.sub_category_id.nil?
                %option{value: "#{ele.sub_category_id}",'data-group': "#{ele.main_category_id}",'subdata-group': "#{ele.sub_category_id}"}#{ele.name}
            %i.fas.fa-chevron-down
          .search__container__side__form__dropdown__wraps--select.area3div
            .checkbox-default.area3.check_box1
              .checkbox-default.area3.check_box
              - @categories.each do |ele|
                - next if ele.sub_category_id.nil?
                - next if ele.sub_subcategory_id.nil?
                .checkbox-default.area3.check_box.check_box1{'data-group': "#{ele.main_category_id}",'subdata-group': "#{ele.sub_category_id}"}
                  = f.check_box :category_sub_subcategory_id_eq, value: "#{ele.sub_subcategory_id}",id: "#{ele.name}", class: "check_box check_box1", 'data-group': "#{ele.main_category_id}",'subdata-group': "#{ele.sub_category_id}"
                  = f.label "#{ele.name}", for: "#{ele.name}", class: "check_box check_box1", 'data-group': "#{ele.main_category_id}",'subdata-group': "#{ele.sub_category_id}"
        -# .search__container__side__form__dropdown__wrap
        -#   = f.label "" ,class: "label--default" do
        -#     %i.fa.fa-tag
        -#     %span ブランド名から探す
        -#   = f.text_field :brand_id_band_name_cont, placeholder: '例)シャネル' , class: "input--default brand--input", value: ""
        -#   %ul.brand--ul{'data-search': "brand-dom"}
        -# .search__container__side__form__dropdown__wraps
        -#   = f.label "",class: "label--default" do
        -#     %i.fas.fa-text-height
        -#     %span サイズを指定する
        -#   = f.select "",{},{},class: "select--default size_area1" do
        -#     %option{value: "",selected: "true"}すべて
        -#     - @size.each do |ele|
        -#       - next if ele.size_category_id.present?
        -#       %option{value: "#{ele.id}",size: "#{ele.id}"}#{ele.name}
        -#   %i.fas.fa-chevron-down#fa-chevron-down
        -#   .checkbox-show.size_area2div
        -#     .checkbox-default.size_area2.check_box2
        -#     - @size.each do |ele|
        -#       - next if ele.size_category_id.nil?
        -#       .checkbox-default.size_area2.check_box.check_box2{'data-group': "#{ele.size_category_id}"}
        -#         = f.check_box :product_size_id, value: "#{ele.id}",id: "#{ele.name}", class: "check_box check_box2", 'data-group': "#{ele.size_category_id}"
        -#         = f.label "#{ele.name}", for: "#{ele.name}", class: "check_box check_box2", 'data-group': "#{ele.size_category_id}"
        -# .search__container__side__form__dropdown__price
        -#   = f.label "",class: "label--default" do
        -#     %i.fas.fa-dollar-sign
        -#     %span 価格
        -#   %select.select--default
        -#     %option 選択してください
        -#     %option{price_gteq: "300", price_lteq: "1000"}300 ~ 1000
        -#     %option{price_gteq: "1000", price_lteq: "5000"}1000 ~ 5000
        -#     %option{price_gteq: "5000", price_lteq: "10000"}5000 ~ 10000
        -#     %option{price_gteq: "10000", price_lteq: "30000"}10000 ~ 30000
        -#     %option{price_gteq: "50000", price_lteq: "30000"}30000 ~ 50000
        -#     %option{price_gteq: "50000"}50000 ~
        -#   %i.fas.fa-chevron-down
        -#   = f.text_field :price_gt, placeholder: '¥ Min' , class: "input--default"
        -#   %span ~
        -#   = f.text_field :price_lt, placeholder: '¥ Max' , class: "input--default"
        -# .search__container__side__form__dropdown__status
        -#   = f.label "",class: "label--default"  do
        -#     %i.fa.fa-star
        -#     %span 商品の状態
        -#   .search__container__side__form__dropdown__status--checkbox
        -#     .checkbox-default
        -#       = f.check_box 'status_eq_all', value: "0,1,2,3,4,5", class: "checkbox", checked: 'true'
        -#       = f.label "すべて", for: "status_all", class: "check_box"
        -#     .checkbox-default
        -#       = f.check_box 'status_eq', value: "0", class: "checkbox"
        -#       = f.label "新品、未使用", for: "item_condition_id[1]", class: "check_box"
        -#     .checkbox-default
        -#       = f.check_box 'status_eq', value: "1", class: "check_box"
        -#       = f.label "未使用に近い", for: "item_condition_id[2]", class: "check_box-label"
        -#     .checkbox-default
        -#       = f.check_box 'status_eq', value: "2", class: "check_box"
        -#       = f.label "目立った傷や汚れなし", for: "item_condition_id[3]", class: "check_box-label"
        -#     .checkbox-default
        -#       = f.check_box 'status_eq', value: "3", class: "check_box"
        -#       = f.label "やや傷や汚れあり", for: "item_condition_id[4]", class: "check_box-label"
        -#     .checkbox-default
        -#       = f.check_box 'status_eq', value: "4", class: "check_box"
        -#       = f.label "傷や汚れあり", for: "item_condition_id[5]", class: "check_box-label"
        -#     .checkbox-default
        -#       = f.check_box 'status_eq', value: "5", class: "check_box"
        -#       = f.label "全体的に質が悪い", for: "item_condition_id[6]", class: "check_box-label"
        -# .search__container__side__form__dropdown__ship
        -#   = f.label "",class: "label--default" do
        -#     %i.fas.fa-truck
        -#     %span 配送料の負担
        -#   .search__container__side__form__dropdown__ship--checkbox
        -#     .checkbox-default
        -#       = f.check_box 'shipping_fee_eq_all', value: "0,1", 'data-search': "all",checked: 'true'
        -#       = f.label "すべて", for: "shipping_fee_all"
        -#     .checkbox-default
        -#       = f.check_box 'shipping_fee_eq', value: "0"
        -#       = f.label "着払い(購入者負担", for: "shipping_fee_id_[1]"
        -#     .checkbox-default
        -#       = f.check_box 'shipping_fee_eq', value: "1"
        -#       = f.label "送料込み(出品者負担)", for: "shipping_fee_id_[2]"
        -# .search__container__side__form__dropdown__sold
        -#   = f.label "",class: "label--default" do
        -#     %i.fas.fa-shopping-cart
        -#     %span 販売状況
        -#   .search__container__side__form__dropdown__sold--checkbox
        -#     .checkbox-default
        -#       = f.check_box '', value: "1", 'data-search': "all", class: "checkbox"
        -#       = f.label "すべて", for: "1", class: 'checkbox-label'
        -#     .checkbox-default
        -#       = f.check_box 'sold_false', value: "sold_false"
        -#       = f.label "販売中", for: "sold_false"
        -#     .checkbox-default
        -#       = f.check_box 'sold_true', value: "sold_true"
        -#       = f.label "売り切れ", for: "sold_true"
        .search__container__side__form__dropdown__btn
          %input{ value: "クリア", type: 'reset',class: 'btn--default btn-gray'}
          = f.submit "完了", type: "submit", class: "btn--default btn-red"
