.items__container
  .items__container--h1 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
  .items__container__main
    .items__container__main__wrap#wrap
      %ul#slider
        %li.slide-item
          %img{'data-lazy':"http://blanks.site/assets/images/uploads/post19_1.jpg", alt:''}
        %li.slide-item
          %img{'data-lazy':"http://blanks.site/assets/images/uploads/post19_2.jpg", alt:''}
        %li.slide-item
          %img{'data-lazy':"http://blanks.site/assets/images/uploads/post19_3.jpg", alt:''}
        %li.slide-item
          %img{'data-lazy':"http://blanks.site/assets/images/uploads/post19_4.jpg", alt:''}
      %ul#thumbnail-list
        %li.thumbnail-item
          %img{src:"http://blanks.site/assets/images/uploads/post19_1.jpg", alt:''}
        %li.thumbnail-item
          %img{src:"http://blanks.site/assets/images/uploads/post19_2.jpg", alt:''}
        %li.thumbnail-item
          %img{src:"http://blanks.site/assets/images/uploads/post19_3.jpg", alt:''}
        %li.thumbnail-item
          %img{src:"http://blanks.site/assets/images/uploads/post19_4.jpg", alt:''}
      .soldout
    .items__container__main__detail
      %table
        %tbody
          %tr
            %th 出品者
            %td
              =link_to "BOON90sリバイバル@コスパ優良店", "#"
              .item-user
                .item-user-ratings
                  %i.fas.fa-grin
                  %span 910
                .item-user-ratings
                  %i.fas.fa-meh
                  %span 27
                .item-user-ratings
                  %i.fas.fa-frown
                  %span 4
          %tr
            %th カテゴリー
            %td
              = link_to "#" do
                #item_main_category
                  %p レディース
              = link_to "#" do
                #item_sub_category
                  %i.fas.fa-chevron-right
                  %p.category-p バック
              = link_to "#" do
                #item_sub_subcategory
                  %i.fas.fa-chevron-right
                  %p.category-p ショルダーバッグ
          %tr
            %th ブランド
            %td
              = link_to "コーチ","#"
          %tr
            %th 商品の状態
            %td やや傷や汚れ有り
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 発送の方法
            %td らくらくメルカリ便
          %tr
            %th 発送元地域
            %td 兵庫県
          %tr
            %th 発送日の目安
            %td 1~2日で発送
  .items__container__main__price
    %span.span-price ¥ 3,380
    %span.span-tax (税込)
    %span.span-fee 送料込み
  .items__container__main__sold
    .items__container__main__sold--true
      %h1 売り切れました
    -# .items_container__main__sold--false
    -# %h1 購入画面に進む
  .items__container__main__description
    %p ■商品ご覧頂き、誠にありがとうございます。※今だけ、フォロワーになって下さった方に、300円のお値引きサービス中！！　  以後省略
  .items__container__main__like
    .items__container__main__like__left
      = button_tag '',class: 'item-button item-button-like' do
        %i.far.fa-heart
        %p いいね!
        %p 7
      = link_to '',class: 'item-button-bad' do
        %i.far.fa-flag
        %p 不適切な商品の報告
    .items__container__main__like__right
      = link_to '', class: 'items__container__main__like__right--safe' do
        %i.fas.fa-lock
        %span あんしん・あんぜんへの取り組み
.message__container
  .message__container__content
    %ul.message__container__content--ul
      %li.message__container__content--ul--li
        = link_to '',class: "message__container__content--ul--li--user" do
          %figure.user_icon
            .user_icon
              %img{src: '/images/user-icon.svg'}
          -# %p 削除された場合表示なし
          -# 出品者の時表示
          -# .div_seller
          -#   %p 出品者
        .message__container__content--ul--li--body
          .message__container__content--ul--li--body--text
            %p 出品者がコメントを削除しました
          .message__container__content--ul--li--body--time
            .time-icon-left
              %i.far.fa-clock
              %span 187日前
              -# 削除された場合表示なし
            -# .time-icon-right
            -#   = link_to '#' do
            -#     %i.far.fa-flag
      %li.message__container__content--ul--li
        = link_to '',class: "message__container__content--ul--li--user" do
          %figure.user_icon
            .user_icon
              %img{src: '/images/member_no_image.png'}
          %p アワチンニキ
          -# 出品者の時表示
          -# .div_seller
          -#   %p 出品者
        .message__container__content--ul--li--body
          .message__container__content--ul--li--body--text
            %p
              はじめまして。ずっと、気になっているのですが・・・こちらのバッグの『多少の汚れ』とは、パッと見る限り目立たない程度なのですか？皮の白いところは画像でわかるのですが、全体の感じがわからなかったので、質問してみました。
          .message__container__content--ul--li--body--time
            .time-icon-left
              %i.far.fa-clock
              %span 167日前
            .time-icon-right
              = link_to '#' do
                %i.far.fa-flag
      %li.message__container__content--ul--li
        = link_to '',class: "message__container__content--ul--li--user" do
          %figure.user_icon
            .user_icon
              %img{src: '/images/387561164.jpg'}
          %p BOON90sリバイバル@コスパ優良店
          .div_seller
            %p 出品者
        .message__container__content--ul--li--body
          .message__container__content--ul--li--body--text
            %p 
              おまたせしました。
              %br
              先ほど確認しましたところ、画像にある底部に若干の汚れが見られる程度で、後はそれといって汚れはございませんでした。
              %br
              よろしくお願いします。
          .message__container__content--ul--li--body--time
            .time-icon-left
              %i.far.fa-clock
              %span 166日前
            .time-icon-right
              = link_to '#' do
                %i.far.fa-flag
  .message__container__comment
    = form_for '', class: 'message__container__comment__form' do |f|
      %p.message__container__comment__form--p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      -# 売り切れの際はdisabledを足す
      = f.text_area '', class: 'message__container__comment__form--input',disabled: 'disabled'
      = f.submit '売り切れの為コメントできません',type: 'submit', class: 'message__container__comment__form--btn',disabled: 'disabled'
      -# = f.submit 'コメントする',type: 'submit', class: 'gray-btn'

