.items__container
  .items__container--h1 #{@product.name}
  .items__container__main
    .items__container__main__wrap#wrap
      %ul#slider
        - @images.each do |n|
          %li.slide-item
            %img{'data-lazy':"/images/#{@product.product_images[n][:image_url]}", alt:''}
      %ul#thumbnail-list
        - @images.each do |n|
          %li.thumbnail-item
            = image_tag "/images/#{@product.product_images[n][:image_url]}"
    .items__container__main__detail
      %table
        %tbody
          %tr
            %th 出品者
            %td
              =link_to "#{@product.user.nickname}", "#",class:'font-blue'
              .item-user
                .item-user-ratings
                  %i.fas.fa-grin
                  %span #{@good.count}
                .item-user-ratings
                  %i.fas.fa-meh
                  %span #{@soso.count}
                .item-user-ratings
                  %i.fas.fa-frown
                  %span #{@bad.count}
          %tr
            %th カテゴリー
            %td
              = link_to "#" do
                #item_main_category.font-blue
                  %p #{@cate_name[0]}
              = link_to "#" do
                #item_sub_category.font-blue
                  - unless @cate_name[1].nil?
                    %i.fas.fa-chevron-right
                    %p.category-p #{@cate_name[1]}
              = link_to "#" do
                #item_sub_subcategory.font-blue
                  - unless @cate_name[2].nil?
                    %i.fas.fa-chevron-right
                    %p.category-p #{@cate_name[2]}
          %tr
            %th ブランド
            %td
              = link_to "#{@brand}","#",class:"font-blue"
          %tr
            %th 商品の状態
            %td #{@status}
          %tr
            %th 配送料の負担
            %td #{@shipping_fee}
          %tr
            %th 発送の方法
            %td らくらくメルカリ便
          %tr
            %th 発送元地域
            %td
              = link_to "#{@state}","#",class:"font-blue"
          %tr
            %th 発送日の目安
            %td #{@shipping_day}
  .items__container__main__price
    %span.span-price
      = number_to_currency(@product.price, unit: "¥ ")
    %span.span-tax (税込)
    %span.span-fee 送料込み
  .items__container__main__sold
    -if @product.sold == true
      .items__container__main__sold--true
        %h1 売り切れました
    - else
      = link_to '#',class:"items__container__main__sold--a" do
        .items__container__main__sold--a--false
          %h1 購入画面に進む
  .items__container__main__description
    %p #{@product.description}
  .items__container__main__like
    .items__container__main__like__left
      = button_tag '',class: 'item-button item-button-like' do
        %i.far.fa-heart
        %p いいね!
        %p #{@like.count}
      = link_to '',class: 'item-button-bad' do
        %i.far.fa-flag
        %p 不適切な商品の報告
    .items__container__main__like__right
      = link_to '', class: 'items__container__main__like__right--safe' do
        %i.fas.fa-lock
        %span あんしん・あんぜんへの取り組み
.message__container
  .message__container__content
    %ul.message__container__content--ul
      %li.message__container__content--ul--li
        = link_to '',class: "message__container__content--ul--li--user" do
          %figure.user_icon
            .user_icon
              %img{src: '/images/user-icon.svg'}
          -# %p 削除された場合表示なし
          -# 出品者の時表示
          -# .div_seller
          -#   %p 出品者
        .message__container__content--ul--li--body
          .message__container__content--ul--li--body--text
            %p 出品者がコメントを削除しました
          .message__container__content--ul--li--body--time
            .time-icon-left
              %i.far.fa-clock
              %span 187日前
              -# 削除された場合表示なし
            -# .time-icon-right
            -#   = link_to '#' do
            -#     %i.far.fa-flag
      %li.message__container__content--ul--li
        = link_to '',class: "message__container__content--ul--li--user" do
          %figure.user_icon
            .user_icon
              %img{src: '/images/member_no_image.png'}
          %p アワチンニキ
          -# 出品者の時表示
          -# .div_seller
          -#   %p 出品者
        .message__container__content--ul--li--body
          .message__container__content--ul--li--body--text
            %p
              はじめまして。ずっと、気になっているのですが・・・こちらのバッグの『多少の汚れ』とは、パッと見る限り目立たない程度なのですか？皮の白いところは画像でわかるのですが、全体の感じがわからなかったので、質問してみました。
          .message__container__content--ul--li--body--time
            .time-icon-left
              %i.far.fa-clock
              %span 167日前
            .time-icon-right
              = link_to '#' do
                %i.far.fa-flag
      %li.message__container__content--ul--li
        = link_to '',class: "message__container__content--ul--li--user" do
          %figure.user_icon
            .user_icon
              %img{src: '/images/387561164.jpg'}
          %p BOON90sリバイバル@コスパ優良店
          .div_seller
            %p 出品者
        .message__container__content--ul--li--body
          .message__container__content--ul--li--body--text
            %p 
              おまたせしました。
              %br
              先ほど確認しましたところ、画像にある底部に若干の汚れが見られる程度で、後はそれといって汚れはございませんでした。
              %br
              よろしくお願いします。
          .message__container__content--ul--li--body--time
            .time-icon-left
              %i.far.fa-clock
              %span 166日前
            .time-icon-right
              = link_to '#' do
                %i.far.fa-flag
  .message__container__comment
    = form_for '', class: 'message__container__comment__form' do |f|
      %p.message__container__comment__form--p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      -# 売り切れの際はdisabledを足す
      = f.text_area '', class: 'message__container__comment__form--input',disabled: 'disabled'
      = f.submit '売り切れの為コメントできません',type: 'submit', class: 'message__container__comment__form--btn',disabled: 'disabled'
      -# = f.submit 'コメントする',type: 'submit', class: 'gray-btn'
.item__nav
  %ul.item__nav__ul
    %li.item__nav__ul__prev
      = link_to "#" do
        %i.fas.fa-chevron-left
        %p.item__nav__ul__prev--p ディズニーヴィランズ２個設定バッジ バッチ villanis 2018
    %li.item__nav__ul__next
      = link_to "#" do
        %p.item__nav__ul__next--p 楽天パンダノート＆マスキングテープセット
        %i.fas.fa-chevron-right
.item__sns
  %ul.item__sns--ul
    %li.item__sns--ul--facebook
      =link_to '#' do
        %i.fab.fa-facebook-square
    %li.item__sns--ul--twitter
      =link_to '#' do
        %i.fab.fa-twitter-square
    %li.item__sns--ul--pintrest
      =link_to '#' do
        %i.fab.fa-pinterest-square
-# .item__user-product
-#   %h2.item__user-product--h2
-#     =link_to "" do
-#       %h2 BOON90sリバイバル@コスパ優良店ニキのその他の出品
-#   .item__user-product__list
-#     = render @products
-# .item__user-product
-#   %h2.item__user-product--h2
-#     =link_to "" do
-#       %h2 コーチのショルダーバッグ その他の出品
-#   .item__user-product__list
-#     = render @products
