.ccreate__container
    %section.ccreate__container__top
        %h2 クレジットカード情報入力
        = form_tag(pay_cards_path,method: :post, id:'charge-form',class:'ccreate__container__top__form') do
            .ccreate__container__top__form__content
                .ccreate__container__top__form__content--group
                    %label{for: "payment_card_no", class: "input--label"} カード番号
                    %span.require 必須
                    %input.input--default{type: "text", id: "card_number", placeholder: "半角数字のみ", 'data-input-type': "card", class: "input-default", pattern: "^[0-9]+$", maxlength: '16'}
                    %ul.ccreate__container__top__form__content--group--brand
                        %li.ccreate__container__top__form__content--group--brand--list
                            %img{ src:"/images/visa.svg", id: "visa"}
                        %li.ccreate__container__top__form__content--group--brand--list
                            %img{ src:"/images/master-card.svg", id: "master"}
                        %li.ccreate__container__top__form__content--group--brand--list
                            %img{ src:"/images/saison-card.svg", id: "saison"}
                        %li.ccreate__container__top__form__content--group--brand--list
                            %img{ src:"/images/jcb.svg", id: "jcb"}
                        %li.ccreate__container__top__form__content--group--brand--list
                            %img{ src:"/images/american_express.svg", id: "express"}
                        %li.ccreate__container__top__form__content--group--brand--list
                            %img{ src:"/images/dinersclub.svg", id: "diners"}
                        %li.ccreate__container__top__form__content--group--brand--list
                            %img{ src:"/images/discover.svg", id: "discover"}
                .ccreate__container__top__form__content--expire
                    %label{for: "payment_card_no", class: "input--label"} 有効期限
                    %span.require 必須
                    .ccreate__container__top__form__content--expire--wrap
                        %select{name:"exp_month", class: "select-default",id: 'exp_month'}
                            %option{value: "01"} 01
                            %option{value: "02"} 02
                            %option{value: "03"} 03
                            %option{value: "04"} 04
                            %option{value: "05"} 05
                            %option{value: "06"} 06
                            %option{value: "07"} 07
                            %option{value: "08"} 08
                            %option{value: "09"} 09
                            %option{value: "10"} 10
                            %option{value: "11"} 11
                            %option{value: "12"} 12
                        %i.fas.fa-chevron-down
                    %span.select-month 月
                    .ccreate__container__top__form__content--expire--wrap
                        %select{name:"exp_year", class: "select-default", id: 'exp_year'}
                            %option{value: "2019"}19
                            %option{value: "2020"}20
                            %option{value: "2021"}21
                            %option{value: "2022"}22
                            %option{value: "2023"}23
                            %option{value: "2024"}24
                            %option{value: "2025"}25
                            %option{value: "2026"}26
                            %option{value: "2027"}27
                            %option{value: "2028"}28
                            %option{value: "2029"}29
                        %i.fas.fa-chevron-down
                    %span.select-yeah 年
                .ccreate__container__top__form__content--code
                    %label{for: "payment_card_no", class: "input--label"} セキュリティコード
                    %span.require 必須
                    %input.input--default{name: 'cvc',type: "text", id: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", class: "input-default",
                    pattern: "^[0-9]+$", maxlength: '4'}
                .ccreate__container__top__form__content--sequ
                    .ccreate__container__top__form__content--sequ--text
                        %i.fas.fa-question-circle
                        %p.sequ_box カード裏面の番号とは？
                        .arrow_box
                            %p カードの裏面をご参照ください。
                %button{type: "submit", class: "btn-default",id: "submit-button",  href: "#"} 追加する
    .ccreate__container__navi
        %ul.ccreate__container__navi--list
            -# renderで部分テンプレート 条件分岐未実装
            = render partial: "top_tab", locals: { url:'#', contents: 'マイページ' }
            = render partial: "tab", locals: { url:'#', contents: 'おしらせ'  }
            = render partial: "tab", locals: { url:'#', contents: 'やることリスト'  }
            = render partial: "tab", locals: { url:'#', contents: 'いいね！一覧'  }
            = render partial: "tab", locals: { url:'#', contents: '出品する'  }
            = render partial: "tab", locals: { url:'#', contents: '出品した商品 - 出品中'  }
            = render partial: "tab", locals: { url:'#', contents: '出品した商品 - 取引中'  }
            = render partial: "tab", locals: { url:'#', contents: '出品した商品 - 売却済み'  }
            = render partial: "tab", locals: { url:'#', contents: '購入した商品 - 取引中'  }
            = render partial: "tab", locals: { url:'#', contents: '購入した商品 - 過去の取引'  }
            = render partial: "tab", locals: { url:'#', contents: 'ニュース 一覧'  }
            = render partial: "tab", locals: { url:'#', contents: '評価一覧'  }
            = render partial: "tab", locals: { url:'#', contents: 'ガイド'  }
            = render partial: "tab", locals: { url:'#', contents: 'お問い合わせ'  }
            %h3 メルペイ
            -# .toplistで上部border-lineを消去
            = render partial: "top_tab", locals: { url:'#', contents: '売上・振込申請' }
            = render partial: "tab", locals: { url:'#', contents: 'ポイント' }
            %h3 設定
            = render partial: "top_tab", locals: { url:profiles_path, contents: 'プロフィール' }
            = render partial: "tab", locals: { url:'#', contents: '発送元・お届け先住所変更' }
            = render partial: "active_tab", locals: { url:'#', contents: '支払い方法' }
            = render partial: "tab", locals: { url:'#', contents: 'メール / パスワード'  }
            = render partial: "tab", locals: { url:'#', contents: '本人情報' }
            = render partial: "tab", locals: { url:'#', contents: '電話番号の確認' }
            = render partial: "tab", locals: { url:'#', contents: 'ログアウト' }

