.category__main
  .cateogry__main__title
    %h2.category__main__title--h2 カテゴリー一覧
  .category__main__categories
    - @main_categories.each do |ele|
      = link_to "#root_category-#{ele.id}", class: "category-root" do
        %p #{ele.name}
  - @main_categories.each do |main_category|
    .category__main__list
      .category__main__list__box
        .category__main__list__box__title
          %h3.category__main__list__box__title--h3 #{main_category.name}
        .category__main__list__box__inner
          %p.category__main__list__box__inner--p すべて
          - Category.where(main_category_id: main_category.id).where(sub_subcategory_id: nil).each do |sub_category|
            .category__main__list__box__inner--sub_category
              %h4.category__main__list__box__inner--sub_category--h4 #{sub_category.name}
            .category__main__list__box__inner--sub-subcategory
              .category__main__list__box__inner--sub-subcategory--name
                = link_to "#",class: ".category__main__list__box__inner--sub-subcategory--name--a" do
                  %p すべて
              - Category.where(main_category_id: main_category.id).where(sub_category_id: sub_category.sub_category_id).each do |sub_subcategory|
                .category__main__list__box__inner--sub-subcategory--name
                  = link_to "#",class: ".category__main__list__box__inner--sub-subcategory--name--a" do
                    %p #{sub_subcategory.name}
