!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MockMercari
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    %script{src: "https://code.jquery.com/ui/1.12.0/jquery-ui.js" }
    %script{src: "https://www.google.com/recaptcha/api.js", async: "defer"}
    %link{rel: "stylesheet",href: "https://use.fontawesome.com/releases/v5.8.1/css/all.css"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: "./searches/header"
    = yield
    = render partial: "./homes/app_banner"
    = render partial: "./homes/footer"
    = debug(params) if Rails.env.development?
